.CreateDrama {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ShowDramaDetails {
  background-color: #4B1A1E;
  min-height: 100vh;
  color: white;
}

.UpdateDramaInfo {
  background-color: #69140E;
  min-height: 100vh;
  color: white;
}

.ShowDramaList {
  background-color: #3C1518;
  height: 100%;
  min-height: 100vh;

  color: white;
  margin: 0 auto;
}

/* DramaList Styles */
.list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-container {
  width: 250px;
  border: 1px solid rgb(168, 166, 166);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.desc {
  padding: 10px;
}

.desc h2 {
  font-size: 1.4em;
  font-weight: 400;
}

.desc h2 a {
  text-decoration: none;
}

.desc h3, p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

a {
  color: white;
}

.form-group select{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

p.sub{
  font-size: 1.1em;
}

.DramaItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}